{% extends 'base.html' %}

{% block content %}
  <div class="container register-form">
    <form method=post>
<!--      <a>Login</a>-->
      <div class="form-group">
        <div class="form-text">
          <h3>Login</h3>
          <a href="/register/">To create a new account please visit the register page </a>
        </div>
      </div>

      <div>
        {{ form.csrf_token }}
      </div>

      <div>
        {{ form.message }}
      </div>

      <div class = "form-content">
      {% for field in form if field.name != 'csrf_token' %}
        {% for error in field.errors %}
            {{ error }}
        {% endfor %}

      <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {{ field( class='form-control') }}
            </div>
          </div>
      </div>
      {% endfor %}

      </div>

            <div class="alert-warning">
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
      </div>

      <div>
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </form>
  </div>
{% endblock %}


<!--  <form method=post>-->




<!--    {% for field in form if field.name != 'csrf_token' %}-->

<!--            {{ field.label() }}-->
<!--            {{ field() }}-->


<!--    {% for error in field.errors %}-->
<!--      {{ error }}-->
<!--      {% endfor %}-->
<!--    {% endfor %}-->

<!--    <div>-->
<!--      {{ form.message }}-->
<!--    </div>-->

<!--    <div>-->
<!--      <input class="btn btn-default" type="submit" value="Submit">-->
<!--    </div>-->






